.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/CodeChunks.db
.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/CodeChunks.db-shm
.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/CodeChunks.db-wal
.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/SemanticSymbols.db
.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/SemanticSymbols.db-shm
.vs/03.Unit-Testing-and-NUnit-Solution/CopilotIndices/17.14.719.50355/SemanticSymbols.db-wal
.vs/03.Unit-Testing-and-NUnit-Solution/FileContentIndex/678141d0-6549-44aa-9325-fc2d23c06a13.vsidx
.vs/03.Unit-Testing-and-NUnit-Solution/v17/.suo
.vs/03.Unit-Testing-and-NUnit-Solution/v17/DocumentLayout.backup.json
.vs/03.Unit-Testing-and-NUnit-Solution/v17/DocumentLayout.json
.vs/03.Unit-Testing-and-NUnit-Solution/v17/TestStore/0/000.testlog
.vs/03.Unit-Testing-and-NUnit-Solution/v17/TestStore/0/testlog.manifest
CircularQueue.Tests/bin/Debug/net6.0/CircularQueue.Tests.deps.json
CircularQueue.Tests/bin/Debug/net6.0/CircularQueue.Tests.dll
CircularQueue.Tests/bin/Debug/net6.0/CircularQueue.Tests.pdb
CircularQueue.Tests/bin/Debug/net6.0/CircularQueue.Tests.runtimeconfig.json
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
CircularQueue.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
CircularQueue.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
CircularQueue.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
CircularQueue.Tests/bin/Debug/net6.0/nunit_random_seed.tmp
CircularQueue.Tests/bin/Debug/net6.0/nunit.engine.api.dll
CircularQueue.Tests/bin/Debug/net6.0/nunit.engine.core.dll
CircularQueue.Tests/bin/Debug/net6.0/nunit.engine.dll
CircularQueue.Tests/bin/Debug/net6.0/nunit.framework.dll
CircularQueue.Tests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
CircularQueue.Tests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
CircularQueue.Tests/bin/Debug/net6.0/testcentric.engine.metadata.dll
CircularQueue.Tests/bin/Debug/net6.0/testhost.dll
CircularQueue.Tests/bin/Debug/net6.0/testhost.exe
CircularQueue.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CircularQueue.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CircularQueue.Tests/obj/CircularQueue.Tests.csproj.nuget.dgspec.json
CircularQueue.Tests/obj/CircularQueue.Tests.csproj.nuget.g.props
CircularQueue.Tests/obj/CircularQueue.Tests.csproj.nuget.g.targets
CircularQueue.Tests/obj/project.assets.json
CircularQueue.Tests/obj/project.nuget.cache
CircularQueue.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CircularQueue.Tests/obj/Debug/net6.0/Circular.8BE7364E.Up2Date
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.AssemblyInfo.cs
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.AssemblyInfoInputs.cache
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.assets.cache
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.csproj.AssemblyReference.cache
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.csproj.BuildWithSkipAnalyzers
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.csproj.CoreCompileInputs.cache
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.csproj.FileListAbsolute.txt
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.dll
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.GeneratedMSBuildEditorConfig.editorconfig
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.genruntimeconfig.cache
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.pdb
CircularQueue.Tests/obj/Debug/net6.0/CircularQueue.Tests.sourcelink.json
CircularQueue.Tests/obj/Debug/net6.0/ref/CircularQueue.Tests.dll
CircularQueue.Tests/obj/Debug/net6.0/refint/CircularQueue.Tests.dll
